#codeigniter 3
/application/cache
/application/config/*
!/application/config/ci_seo.php
/application/controllers
/application/core
/application/helpers
/application/hooks
/application/language
/application/libraries/*
!/application/libraries/ci_seo.php
/application/logs
/application/models
/application/third_party
/application/views
/application/.htaccess
/application/index.html
/vendor/
/system/
/user_guide/

.editorconfig
composer.json
composer.lock
contributing.md
index.php